<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <form method="post">
      <div>
        <label for="name">Name</label> : <input id="name" type="text" name="name" >
      </div>
      <div>
        <label for="begin_at">Begin at</label> : <input id="begin_at" name="begin_at" type="datetime-local" >
      </div>
      <div>
        <label for="end_at">End at</label> : <input id="end_at" name="end_at" type="datetime-local" >
      </div>
      <div>
        <input type="radio" name="visible" value="true" checked>Visible
        <input type="radio" name="visible" value="false" >Invisible
      </div>
      <input type="submit" value="Create" >
    </form>
    {% if error %}
      <div>{{error.message}}</div>
    {% endif %}
  </body>
</html>
