






<!DOCTYPE html>
<!--[if lt IE 7 ]>             <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>                <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>                <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>                <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="zh-CN"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">

  

  
  
  <meta name="description" content="Tongji SSE learning management system.">
  
  

  <title>TJLMS</title>

  

  

  

  
  <link href="/static/vendor.css?a6e45d3f48" rel="stylesheet">
  
  <link href="/static/style.css?3ac585c792" rel="stylesheet">
  

</head>
<body>


<div id="app-root"></div>







<script src="/static/vendor.js?f45eea0e3c141b9adfd5" type="text/javascript"></script>

<script src="/static/main.js?0f6d8b7cf054b20b79c0" type="text/javascript"></script>



</body>
</html>
