






<!DOCTYPE html>
<!--[if lt IE 7 ]>             <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>                <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>                <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>                <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="zh-CN"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">

  

  
  
  <meta name="description" content="Tongji SSE learning management system.">
  
  

  <title>TJLMS</title>

  

  
  <meta content="width=device-width,user-scalable=no,initial-scale=1,minimum-scale=1,maximum-scale=1" name="viewport">
  

  

  
  <link href="/static/vendor.css?3cd12c5720" rel="stylesheet">
  
  <link href="/static/style.css?0e6dff378a" rel="stylesheet">
  

</head>
<body>


<div id="app-root"></div>







<script src="/static/vendor.js?828c1790393025be0e1b" type="text/javascript"></script>

<script src="/static/main.js?e11add213269a4a54439" type="text/javascript"></script>



</body>
</html>
