<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <form method="post">
      <div>
        <label for="order">order</label><input type="number" id="order" name="order"/>
      </div>
      <p>Problem Content : </p>
      <div>
        <textarea name="ptext"></textarea>
      </div>
      <p>Question 1</p>
      <div>
        <textarea name="qtext"></textarea>
      </div>
      <p>Question 2</p>
      <div>
        <textarea name="qtext"></textarea>
      </div>
      <p>Question 3</p>
      <div>
        <textarea name="qtext"></textarea>
      </div>

      <input type="submit" value="Create" >
    </form>
  </body>
</html>
